*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$mainBlack: #1a2125;
$mainGreen: #86bb3d;
$mainWhite: #ffffff;
$mainGrey: #eaecef;
$mainTransition: all 0.3s linear;


body {
  font-family: 'Montserrat', sans-serif;
  background: #b7c8a7;
  color: $mainBlack;
}
